workflows/task2/task2.json
{
  "name": "QC Retry Handler – Nano Banana State Machine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qc-result",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        0
      ],
      "id": "d13fb3fe-24cc-45dc-abe9-2c0dbf43db18",
      "name": "qc-result",
      "webhookId": "5569d121-0793-41e3-b8ee-de398a659fb3"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('qc-result').first().json;\nconst lastAttemptRow = $('select_last_attempt').first().json;\n\nconst last_attempt = Number(lastAttemptRow.last_attempt ?? 0);\nconst next_attempt = last_attempt + 1;\n\nconst verdict = payload.qc_result?.verdict;\nconst suggested_fix = payload.qc_result?.suggested_fix;\nconst reason = payload.qc_result?.reason ?? null;\n\nconst baseParams = {\n  structure_scale: 0.50,\n  cfg_scale: 7.5,\n  steps: 50,\n  sampler: \"DPM++\"\n};\n\nlet params = { ...baseParams };\n\n// Наращивание параметров по suggested_fix\nif (suggested_fix === \"increase_structure_strength\") {\n  params.structure_scale = Number((params.structure_scale + 0.10 * (next_attempt - 1)).toFixed(2)); // пересчитываем structure_scale для текущей попытки\n} else if (suggested_fix === \"reduce_artifacts\") {\n  params.cfg_scale = Number((params.cfg_scale - 0.5 * (next_attempt - 1)).toFixed(2)); // пересчитываем cfg_scale для текущей попытки\n}\n\n// Output для следующих нод\nreturn [{\n  job_id: payload.job_id,\n  render_id: payload.render_id,\n  qc_verdict: verdict,\n  suggested_fix,\n  failure_reason: reason,\n  current_attempt: last_attempt,\n  next_attempt,\n  parameters: params\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ],
      "id": "78665351-ed81-42aa-a85b-56e6d755ed45",
      "name": "calc_params"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(MAX(attempt_number), 1) AS last_attempt\nFROM goodini.generation_attempts\nWHERE render_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [   $('qc-result').first().json.render_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        112
      ],
      "id": "47b9793f-aa96-4e45-b384-8973c8f38b0e",
      "name": "select_last_attempt",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('calc_params').first().json.qc_verdict === 'FAIL'\n   && $('calc_params').first().json.current_attempt < 3 }}",
                    "rightValue": "FAIL",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5acab428-f046-4a17-b78a-9e841866c8e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RETRY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a3e34bb-eae4-4be9-bd13-ebad6df3c336",
                    "leftValue": "={{ $('calc_params').first().json.qc_verdict === 'FAIL'\n   && $('calc_params').first().json.current_attempt >= 3 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MANUAL_REVIEW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1408,
        112
      ],
      "id": "02afbe9e-0744-4109-ab66-82fb22dfd234",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE goodini.jobs\nSET\n  status = $1,\n  updated_at = NOW()\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [   'PROCESSING',   $('qc-result').first().json.job_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        -352
      ],
      "id": "d326b4ba-45dd-4eb4-8c53-1cccef9852f8",
      "name": "update_job_retrying",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"retry_scheduled\",\n  \"job_id\": \"{{ $('qc-result').first().json.job_id }}\",\n  \"render_id\": \"{{ $('qc-result').first().json.render_id }}\",\n  \"attempt_number\": {{ $('calc_params').first().json.next_attempt }},\n  \"parameters\": {{ JSON.stringify($('calc_params').first().json.parameters) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2544,
        -352
      ],
      "id": "80658ad1-1a6d-4251-b09c-e9891a0bf45a",
      "name": "qc_retry_response"
    },
    {
      "parameters": {
        "jsCode": "const output = {\n  \"result\": \"Message sent\"\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        336
      ],
      "id": "d5ef9042-412f-4bcc-8ed3-948c4169f0a2",
      "name": "slack_message"
    },
    {
      "parameters": {
        "content": "## Как предотвратить бесконечный цикл, если Nano Banana API упадет?\n\nВ HTTP node Nano Banana ставим timeout + ограничение ретраев.\n\nПри технической ошибке:\n- записываем попытку в attempt\n\n- ставим jobs.status = GENERATION_FAILED\n\n- возвращаем nano_banana_response с ошибкой\n\n- отправляем алерт (опциоально)\n\nНа входе в вебхук проверяем jobs.status и для статусов GENERATION_FAILED и MANUAL_REVIEW отбиваем ошибку",
        "height": 368,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        256
      ],
      "typeVersion": 1,
      "id": "a7a78bd5-325d-450a-8c82-9999780c3bc5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status\nFROM goodini.jobs\nWHERE id = $1::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [   $('qc-result').first().json.job_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        0
      ],
      "id": "d10a3331-35af-45c7-8779-c006b3231e3c",
      "name": "select_job_status",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"manual_review_required\",\n  \"job_id\": \"{{ $('qc-result').first().json.job_id }}\",\n  \"render_id\": \"{{ $('qc-result').first().json.render_id }}\",\n  \"attempt_number\": {{ $('calc_params').first().json.next_attempt }},\n  \"parameters\": {{ JSON.stringify($('calc_params').first().json.parameters) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2256,
        336
      ],
      "id": "9d6e6bae-0fcd-4c1a-b5f8-99194dd83fba",
      "name": "qc_manual_review_response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"status\": \"ignored_terminal_state\",\n  \"job_status\": \"{{ $('select_job_status').first().json.status }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        -416
      ],
      "id": "aeda6e62-624e-4e67-a0a8-389ee1070b05",
      "name": "qc_job_error_response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE goodini.jobs\nSET\n  status = $1,\n  updated_at = NOW()\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [   'GENERATION_FAILED',   $('qc-result').first().json.job_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        -48
      ],
      "id": "ce64e83d-c3dc-4e56-8fbd-93f8e977f92b",
      "name": "update_job_fail",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE goodini.jobs\nSET\n  status = $1,\n  updated_at = NOW()\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [   'MANUAL_REVIEW',   $('qc-result').first().json.job_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        336
      ],
      "id": "8f782842-ec6b-4359-9c68-c40090322104",
      "name": "update_job_manual_review",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lauriegreens.app.n8n.cloud/webhook/nano-banana-mock",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_id\": \"{{ $('calc_params').first().json.render_id }}\",\n  \"parameters\": {{ JSON.stringify($('calc_params').first().json.parameters) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        -144
      ],
      "id": "26a0e4fa-5bab-46f8-84b1-b1bf54692b9a",
      "name": "nanobanana_mock_call",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"generation_failed\",\n  \"job_id\": \"{{ $('qc-result').first().json.job_id }}\",\n  \"render_id\": \"{{ $('qc-result').first().json.render_id }}\",\n  \"attempt_number\": {{ $('calc_params').first().json.next_attempt }},\n  \"parameters\": {{ JSON.stringify($('calc_params').first().json.parameters) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2544,
        -48
      ],
      "id": "ec52ef9b-8bc6-4dd0-bd21-30c43024c4c0",
      "name": "qc_nanobanana_error_response"
    },
    {
      "parameters": {
        "content": "### Проверяем job status",
        "height": 288,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -80
      ],
      "typeVersion": 1,
      "id": "e8bcfd7e-b9a6-45c6-a154-60e0b8d9d562",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Берем last_attempt и считаем параметры, перезаписываем текущую попытку генерации, проверяем условие",
        "height": 240,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        48
      ],
      "typeVersion": 1,
      "id": "5ae319f5-0a00-40ca-b7d8-1ff61a8795f4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### В случае успеха записываем попытку и апдейтим job",
        "height": 272,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        -432
      ],
      "typeVersion": 1,
      "id": "8db7dc5e-6c42-4be3-93dd-2fccc00e2c6d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### В случае ошибки также сохраняем попытку и ставим jobs.status = 'GENERATION_FAILED'",
        "height": 224,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        -128
      ],
      "typeVersion": 1,
      "id": "949673a6-5079-4774-8dd7-7efd123e0ff7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const output = {\n  \"result\": \"Generation failed\"\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        -48
      ],
      "id": "02404059-37d9-4fa3-81bd-37416f7c3cdb",
      "name": "slack_message1"
    },
    {
      "parameters": {
        "content": "### Cтавим соответствующий jobs.status",
        "height": 240,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        272
      ],
      "typeVersion": 1,
      "id": "03a4ab0c-437e-42e6-b1c8-c0bf0446521b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('select_job_status').first().json.status === 'GENERATION_FAILED' || $('select_job_status').first().json.status === 'MANUAL_REVIEW' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "fb96a94b-c260-4e5e-baa9-804706b5aea0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a8f01113-3130-46d3-a211-964d0332ed7f",
                    "leftValue": "={{\n  $('select_job_status').first().json.status === 'PASS'\n  || $('qc-result').first().json.qc_result.verdict === 'PASS'\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PASS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c54c4921-16f6-4703-aa03-879fc8835548",
                    "leftValue": "={{ $('select_job_status').first().json.status === 'PROCESSING' || $('select_job_status').first().json.status === 'CLASSIFIED'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROCESSING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        528,
        -16
      ],
      "id": "5609f35e-20f1-40b1-ba0e-67b8b5b05c74",
      "name": "job_status_router"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"status\": \"job_passed\",\n  \"job_status\": \"{{ $('select_job_status').first().json.status }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        -176
      ],
      "id": "01003581-22ea-4de7-9a68-b8eaac23b5e2",
      "name": "qc_job_pass_response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO goodini.generation_attempts (\n  render_id,\n  attempt_number,\n  qc_verdict,\n  failure_reason\n)\nVALUES ($1::uuid, $2, $3, $4)\nON CONFLICT (render_id, attempt_number)\nDO UPDATE SET\n  qc_verdict = EXCLUDED.qc_verdict,\n  failure_reason = EXCLUDED.failure_reason;",
        "options": {
          "queryReplacement": "={{ [   $('calc_params').first().json.render_id,   $('calc_params').first().json.current_attempt,   $('calc_params').first().json.qc_verdict,   $('calc_params').first().json.failure_reason ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        112
      ],
      "id": "fa7b0698-8481-4da7-9e8d-1f7c5cffc211",
      "name": "upsert_qc_result_current_attempt",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO goodini.generation_attempts (\n  render_id,\n  attempt_number,\n  parameters,\n  qc_verdict,\n  failure_reason,\n  nano_banana_response\n)\nVALUES (\n  $1::uuid,\n  $2,\n  $3::jsonb,\n  NULL,\n  NULL,\n  NULL\n)\nON CONFLICT (render_id, attempt_number) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [   $('calc_params').first().json.render_id,   $('calc_params').first().json.next_attempt,   JSON.stringify($('calc_params').first().json.parameters) ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        -144
      ],
      "id": "cc9d01b7-0ae0-4870-8e61-a5fcf6ad5949",
      "name": "insert_next_attempt_pending",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE goodini.generation_attempts\nSET\n  nano_banana_response = $1::jsonb\nWHERE render_id = $2::uuid\n  AND attempt_number = $3;",
        "options": {
          "queryReplacement": "={{\n[\n  JSON.stringify($('nanobanana_mock_call').first().json),\n  $('calc_params').first().json.render_id,\n  $('calc_params').first().json.next_attempt\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        -352
      ],
      "id": "7df0b94b-f875-47a7-843c-c0ce0acf7c54",
      "name": "update_next_attempt_with_nanobanana_response",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Записываем предстоящую попытку генерации",
        "height": 256,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -208
      ],
      "typeVersion": 1,
      "id": "b7abb319-ced3-4446-b2c9-5d0a480a6ec1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE goodini.generation_attempts\nSET\n  nano_banana_response = $1::jsonb\nWHERE render_id = $2::uuid\n  AND attempt_number = $3;",
        "options": {
          "queryReplacement": "={{\n[\n  JSON.stringify($('nanobanana_mock_call').first().json),\n  $('calc_params').first().json.render_id,\n  $('calc_params').first().json.next_attempt\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        -48
      ],
      "id": "8ef28eec-d9a6-4757-8d16-bde60336b270",
      "name": "update_next_attempt_with_nanobanana_error",
      "credentials": {
        "postgres": {
          "id": "T6ZQPFcajjVaL8Qh",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "qc-result": [
      {
        "json": {
          "job_id": "9ad61b7e-f47d-4238-8031-00230dc28bd3",
          "render_id": "59177b49-b664-4cb1-8dc4-52712cadee2a",
          "qc_result": {
            "verdict": "FAIL",
            "reason": "Geometry distortion on window frame",
            "confidence": 0.85,
            "suggested_fix": "increase_structure_strength"
          }
        }
      }
    ]
  },
  "connections": {
    "qc-result": {
      "main": [
        [
          {
            "node": "select_job_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_last_attempt": {
      "main": [
        [
          {
            "node": "calc_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calc_params": {
      "main": [
        [
          {
            "node": "upsert_qc_result_current_attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "insert_next_attempt_pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_job_manual_review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_job_retrying": {
      "main": [
        [
          {
            "node": "qc_retry_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slack_message": {
      "main": [
        [
          {
            "node": "qc_manual_review_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_job_status": {
      "main": [
        [
          {
            "node": "job_status_router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_job_fail": {
      "main": [
        [
          {
            "node": "qc_nanobanana_error_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_job_manual_review": {
      "main": [
        [
          {
            "node": "slack_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nanobanana_mock_call": {
      "main": [
        [
          {
            "node": "update_next_attempt_with_nanobanana_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_next_attempt_with_nanobanana_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qc_nanobanana_error_response": {
      "main": [
        [
          {
            "node": "slack_message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_status_router": {
      "main": [
        [
          {
            "node": "qc_job_error_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qc_job_pass_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "select_last_attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert_qc_result_current_attempt": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_next_attempt_pending": {
      "main": [
        [
          {
            "node": "nanobanana_mock_call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_next_attempt_with_nanobanana_response": {
      "main": [
        [
          {
            "node": "update_job_retrying",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_next_attempt_with_nanobanana_error": {
      "main": [
        [
          {
            "node": "update_job_fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "120cc781-2013-450c-bd5b-c754b1c3fb4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aff49296f31dfc1d06552f714794a6782666e4ed0da09918fbbf7c39f31913e5"
  },
  "id": "wPk7DtqH7xUV7fUXzpH6-",
  "tags": [
    {
      "updatedAt": "2026-01-19T08:52:23.732Z",
      "createdAt": "2026-01-19T08:52:23.732Z",
      "id": "J6sZdkMtPimpjzDv",
      "name": "Quality Control"
    }
  ]
}
